*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    position: relative;
}

header{
    width: 100vw;
    height: 50px;
    background-color: #fff;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: rgb(190, 114, 0);
    display: inline-block;
    width: 20%;
    margin-top: 5px;
    margin-left: 20px;
}

.nav-menu-top{
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    background-color: aqua;
    position: relative;
}

.menu{
    list-style: none;
    /* border: 1px solid rgb(80, 51, 7); */
    float:left;
    position: fixed;
    right: 50px;
    top: 10px;
}

.menu li{
    position: relative;
    /* border: 1px solid rgb(80, 51, 7); */
    float: left;
}

.menu li a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: rgb(19, 34, 6);
    width: 150px;
    text-align: center;
    font-size: 16px;
}

.menu li a:hover{
    background-color: rgb(255, 238, 139);
    color: rgb(190, 114, 0);
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul{
    position: absolute;
    top: 22px;
    left: 0;
    background-color: #fff;
    display: none;
    margin-top: 5px;
}

.menu li:hover ul{
    display:block;
}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:151px;
    font-size: 16px;
}

.image-cake-banner{
    width: 100%;
    height: 350px;
    object-fit: cover;
    position: 0 55%;
    margin-top: 50px;
}

.aside-details{
    display: inline-block;
    width: 25vw;
    min-height: 500px;
    /* background-color: #ffcab1; */
    margin-left: 10px;
    padding: 20px 10px;
    text-align: center;
    position: absolute;
    top: 405px;
}

.aside-details h3{
    font-size: 18px;
    margin-top: 20px;
    color: rgb(190, 114, 0);
}

.line{
    width: 300px;
    height: 1px;
    background-color: rgb(190, 114, 0);
    margin: 5px auto;
}

.contacts, .important-informations{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 300px;
    min-height: 50px;
    background-color: rgb(255, 238, 139);
    border-style: solid; 
    border-width: 0 0 0 5px;
    border-color: rgb(190, 114, 0);
}

.contacts:hover{
    background-color: #c0c0c0;
    border-color: rgb(128, 4, 0);
}

.icon-contacts{
    font-size: 18px;
}

.icon-insta{
    color: rgb(191, 51, 196);
}

.icon-wpp{
    color: green;
}

.icon-email{
    color: #04173b;
}

.contacts p a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.important-informations ul li, .important-informations p{
    font-size: 15px;
}

.important-informations ul{
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main{
    display: inline-block;
    width: 68vw;
    height: auto;
    /* background-color: #c58f76; */
    text-align: center;
    margin-left: 420px;
}

.main-section{
    width: 100%;
    height: auto;
}

.main-section h2{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.figure-main{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 238, 139);
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}

.image-cake-main-ssection{
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.legend-figure-main{
    /* text-align: center;
    vertical-align: middle; */
    padding:5px 10px;
    font-size: 14px;
    color: rgb(190, 114, 0);
    font-weight: 700;
}

.about-us{
    width: 80vw;
    height: 400px;
    background-color: yellow;
    margin: 30px auto;
}